﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title-A4VNEXPRESS</title>
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class=" contact-left">
                <a>(0203) 123456 (HCM)</a>
                <a>(0234) 567891 (HN)</a>
                <button>Lien he quang cao</button>
                <button> Like</button>
                <button>Follow</button>
            </div>
            <div class="login-right">
                <button>Dang ky</button>
                <button>Dang nhap</button>
                <input placeholder="Tim Kiem" />
            </div>
        </div>

    </div>
    @RenderBody()
</body>
</html>
